* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.text-white {
    color:#fff !important;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}


.col-third {
    width: 33.33333% !important;
}

.text-align {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1;
}

#nav
{
    display: block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0 24px;
    line-height: 46px;
    width: 100%;
    color:#000;
}

#nav>li>a {
    
    color: #fff;
    text-transform: uppercase;
   
    
}

.form-submit:hover,
#nav li:hover>a,
#buy-ticket:hover,
.modal-close:hover,
.place-buy-ticket:hover,
#nav .subnav li:hover a,
#header .moblie-menu-btn{
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav  {
    position: absolute;
    display: none;
    background-color: #fff;   
    top:100%;
    left:0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li {
    width: 100%;
    min-width: 160px;
}

.nav-angle-down {
    font-size: 12px;
}
#header .btn-menu,
#header .btn-search {
    float: right;
    padding: 0 24px;
    line-height: 46px;
    color: #fff;

}

/* #header .nav-search {
    display: inline;
    font-size: 20px;
} */

#header .btn-menu {
    display: none;
    top: 0;
    right: 0;
}

#header .btn-search:hover {
    background-color: #f44336!important;
    cursor: pointer;
}

#header .btn-menu:hover {
    background-color: #ccc;
    color: #000;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
     background: url('https://www.w3schools.com/w3images/chicago.jpg') top center / cover no-repeat; 
    position: relative;
    font-family: sans-serif; 
}

#slider .text-content {
    position: absolute;
    color :#fff;
    left:0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 45px 0;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-decription
{
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;

}

#content .section-heading,
#content .section-subheading {
    text-align: center;
}

#content .section-heading {
    letter-spacing: 4px;
    font-style: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content .section-subheading {
    margin: 25px 0;
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
    
}

#content .about-text {
    text-align: justify;
    line-height: 1.4;
}

.member-list {
     padding-top: 47px;  
     overflow: hidden;
}
    
.member-name {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px;   
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.ticket-list .sold-out {
    margin-left: 16px;
    background-color: #f44336;
    padding: 0 8px;
    color: #fff;
}

.ticket-list .quanlity {
    float:right;
    height: 24px;
    width: 22px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin: -3px;
    margin-right: 15px;
}

.places-list {
    margin-top: 32px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-img {
    width: 100%;
display: block;
}

.place-body {
    background-color: #fff;
    color: #000;
    padding: 0.15px 16px;
}

.place-heading { 
    margin: 15px 0;
}

.place-date { 
    margin: 15px 0;
    opacity: 0.6;
}

.place-desc { 
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-ticket { 
    margin-bottom: 16px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    height: 38px;
    width: 108px;
    text-align: center;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}   

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    padding:12px;
    font-size: 24px;
    display: block;
    cursor: pointer;
    color:#fff;
}

.modal-header-bag {
    margin-right: 16px;
}

.modal-header {
    padding-top: 16px;
    height: 130px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 4px;
    color:#fff;
}

.open {
    display: flex;
}

.modal-body {
  padding: 0 16px;
}

.modal-label {
    display: block;
    margin: 15px 0;
   font-style: 15px;
   font-size: 15px;
   cursor: text;
}

.modal-input {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    font-size: 15px;
}

#buy-ticket {
    display: block;
    margin: 15px 0;
    padding:16px;
    font-size:15px;
    width: 100%;
    background: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal-footer {
    padding-right: 16px;
    text-align: right;
    margin:16px 0;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    } 

}

.contact-content {
    margin-top: 47px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor i {
    width: 30px;
    display: inline-block;
   
}
 
.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit {
    float: right;
    font-size: 15px;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    text-align: center;
    padding: 64px 16px;

}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    margin: 15px 0;
}

.copyright p,
.copyright a{
    color: rgba(0, 0, 0, 0.6);
}

